<div class="toolbarTabs">
    <div id="torrentFilesFilterToolbar" class="invisible">
        <input type="text" id="torrentFilesFilterInput" placeholder="Filter files..." autocorrect="off" autocapitalize="none" />
    </div>
    <ul id="propertiesTabs" class="tab-menu">
        <li id="PropGeneralLink" class="selected"><a>General</a></li>
        <li id="PropTrackersLink"><a>Trackers</a></li>
        <li id="PropPeersLink"><a>Peers</a></li>
        <li id="PropWebSeedsLink"><a>HTTP Sources</a></li>
        <li id="PropFilesLink"><a>Content</a></li>
    </ul>
    <div class="clear"></div>
</div>
