<div id="statisticsContent">
    <h3>User statistics</h3>
    <table style="width:100%">
        <tr>
            <td>All-time upload:</td>
            <td id="AlltimeUL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>All-time download:</td>
            <td id="AlltimeDL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>All-time share ratio:</td>
            <td id="GlobalRatio" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Session waste:</td>
            <td id="TotalWastedSession" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Connected peers:</td>
            <td id="TotalPeerConnections" class="statisticsValue"></td>
        </tr>
    </table>
    <h3>Cache statistics</h3>
    <table style="width:100%">
        <tr>
            <td>Read cache hits:</td>
            <td id="ReadCacheHits" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Total buffer size:</td>
            <td id="TotalBuffersSize" class="statisticsValue"></td>
        </tr>
    </table>
    <h3>Performance statistics</h3>
    <table style="width:100%">
        <tr>
            <td>Write cache overload:</td>
            <td id="WriteCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Read cache overload:</td>
            <td id="ReadCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Queued I/O jobs:</td>
            <td id="QueuedIOJobs" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Average time in queue:</td>
            <td id="AverageTimeInQueue" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Total queued size:</td>
            <td id="TotalQueuedSize" class="statisticsValue"></td>
        </tr>
    </table>
</div>
